        @media (max-width: 1200px) {
            .navbarShow {
                display: none;
            }
            .navbarHide,
            .searchHide {
                display: flex;
            }
            .aboutmyself {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .aboutmyself .logo-img {
                margin-top: 20px;
            }
        }
        
        @media (max-width: 1027px) {
            .about {
                margin-top: 50px;
            }
        }
        
        @media (max-width: 717px) {
            .about {
                margin-top: 110px;
            }
        }
        
        @media (max-width:640px) {
            .about {
                margin-top: 150px;
            }
            .maininformation {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .contact {
                margin-bottom: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100vh;
            }
        }
        
        .maininformation input {
            margin-top: 30px;
        }