                    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
                    * {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                    
                    body {
                        width: 100%;
                    }
                    
                    header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px;
                        height: 100px;
                        background-color: rgb(236, 246, 246);
                    }
                    
                    .logo-text {
                        font-size: 25px;
                    }
                    
                    a {
                        text-decoration: none;
                    }
                    
                    .navbarShow ul {
                        display: flex;
                        list-style: none;
                        margin-right: 15px;
                    }
                    
                    .navbarShow ul li {
                        margin-right: 25px;
                    }
                    
                    .navbarShow ul li a {
                        color: #000000;
                        font-size: 1.3rem;
                        font-weight: 500;
                        transition: 0.4s ease;
                        -webkit-transition: 0.4s ease;
                        -moz-transition: 0.4s ease;
                        -ms-transition: 0.4s ease;
                        -o-transition: 0.4s ease;
                    }
                    
                    .navbarShow ul li a:hover {
                        background-color: rgb(118, 248, 255);
                        color: #000000;
                        padding: 30px;
                        font-size: 1.6rem;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                    
                    .searchShow input {
                        outline: none;
                        border: #000000 solid 2px;
                        border-radius: 25px;
                        padding: 13px;
                        transition: 0.4s ease;
                        -webkit-border-radius: 25px;
                        -moz-border-radius: 25px;
                        -ms-border-radius: 25px;
                        -o-border-radius: 25px;
                        width: 300px;
                        font-size: 18px;
                        font-weight: 500;
                        margin-right: 20px;
                    }
                    
                    .searchShow input:focus {
                        border: red solid 2px;
                    }
                    
                    .searchShow input::placeholder {
                        font-size: 18px;
                        color: #117ac5;
                        font-weight: 500;
                    }
                    
                    .searchShow button {
                        border: #000000 solid 2px;
                        border-radius: 25px;
                        padding: 13px;
                        background-color: transparent;
                        color: #000000;
                        font-size: 18px;
                        font-weight: 500;
                        cursor: pointer;
                        transition: 0.4s ease;
                        border-radius: 25px;
                    }
                    
                    .searchShow button:hover {
                        background-color: #117ac5;
                        color: #fff;
                        border: #117ac5 solid 2px;
                        font-size: 20px;
                        margin: 5px;
                    }
                    
                    .aboutmyself {
                        width: 100%;
                        height: 90vh;
                        background-color: #117ac5;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 150px;
                    }
                    
                    .aboutmyself h1 {
                        color: #fff;
                        font-size: 50px;
                        font-weight: 600;
                    }
                    
                    .aboutmyself p {
                        color: #fff;
                        font-size: 25px;
                        font-weight: 500;
                        margin: 20px 0;
                    }
                    
                    .aboutmyself p span {
                        color: rgb(139, 255, 234);
                        font-size: 30px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    
                    .aboutmyself button {
                        width: 300px;
                        display: flex;
                        justify-content: center;
                        border: #fff solid 2px;
                        border-radius: 25px;
                        padding: 13px;
                        background-color: transparent;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 500;
                        cursor: pointer;
                        transition: 0.4s ease;
                        border-radius: 25px;
                        margin: 5px;
                        -webkit-transition: 0.4s ease;
                        -moz-transition: 0.4s ease;
                        -ms-transition: 0.4s ease;
                        -o-transition: 0.4s ease;
                    }
                    
                    .aboutmyself button:hover {
                        background-color: #fff;
                        color: #117ac5;
                        border: #fff solid 2px;
                        font-weight: 700;
                        font-size: 21px;
                        margin: 5px;
                    }
                    
                    .logo-img {
                        margin-left: 20px;
                        width: 350px;
                        height: 350px;
                        border-radius: 50%;
                        outline: rgb(0, 0, 0) solid 3px;
                        background-color: white;
                    }
                    
                    .logo-img img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                    
                    .text {
                        display: inline-flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    
                    .SocialMeadiaIcons {
                        margin-top: 15px;
                    }
                    
                    .SocialMeadiaIcons ul i {
                        margin-right: 10px;
                        color: rgb(255, 255, 255);
                        font-size: 35px;
                        cursor: pointer;
                        border-radius: 50%;
                        transition: 0.5s ease;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        -webkit-transition: 0.5s ease;
                        -moz-transition: 0.5s ease;
                        -ms-transition: 0.5s ease;
                        -o-transition: 0.5s ease;
                    }
                    
                    .SocialMeadiaIcons ul i:hover {
                        color: aquamarine;
                        margin: 10px;
                        transform: scale(1.3);
                        -webkit-transform: scale(1.3);
                        -moz-transform: scale(1.3);
                        -ms-transform: scale(1.3);
                        -o-transform: scale(1.3);
                    }
                    
                    .contact {
                        width: 100%;
                        height: 70vh;
                        background-color: #117ac5;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 50px;
                    }
                    
                    .contact h1 {
                        color: white;
                        font-size: 40px;
                        font-weight: 700;
                    }
                    
                    .contact-form {
                        margin-top: 40px;
                    }
                    
                    .maininformation {
                        padding-bottom: 20px;
                        display: flex;
                    }
                    
                    .maininformation input {
                        outline: none;
                        border: #000000 solid 2px;
                        border-radius: 25px;
                        padding: 13px;
                        transition: 0.4s ease;
                        font-size: 18px;
                        font-weight: 500;
                        margin-right: 15px;
                        width: 300px;
                    }
                    
                    .contact .message,
                    .contact button {
                        margin-left: 90px;
                    }
                    
                    .contact .message {
                        outline: none;
                        border: #000000 solid 2px;
                        border-radius: 25px;
                        padding: 13px;
                        transition: 0.4s ease;
                        font-size: 18px;
                        font-weight: 500;
                        margin-right: 15px;
                        width: 450px;
                        height: 300px;
                    }
                    
                    .contact button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
                        width: 450px;
                        border: #ffffff solid 2px;
                        border-radius: 25px;
                        padding: 13px;
                        background-color: transparent;
                        color: #ffffff;
                        font-size: 28px;
                        font-weight: 700;
                        cursor: pointer;
                        transition: 0.4s ease;
                    }
                    
                    .contact button:hover {
                        background-color: #ffffff;
                        color: #117ac5;
                        border: #000000 solid 2px;
                        font-weight: 700;
                        font-size: 28px;
                    }
                    
                    .projects {
                        width: 100%;
                        height: fit-content;
                        background-color: #117ac5;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 50px;
                    }
                    
                    .projects h1 {
                        color: white;
                        font-size: 40px;
                        font-weight: 700;
                    }
                    
                    .projects-container {
                        margin-top: 40px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    
                    .projects-container div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 20px;
                        width: 300px;
                        height: 300px;
                        margin: 20px;
                        border-radius: 25px;
                        background-color: #ffffff;
                        transition: 0.4s ease;
                        -webkit-transition: 0.4s ease;
                        -moz-transition: 0.4s ease;
                        -ms-transition: 0.4s ease;
                        -o-transition: 0.4s ease;
                    }
                    
                    .projects-container div i {
                        font-size: 30px;
                        color: #117ac5;
                        transition: 0.4s ease;
                        -webkit-transition: 0.4s ease;
                        -moz-transition: 0.4s ease;
                        -ms-transition: 0.4s ease;
                        -o-transition: 0.4s ease;
                    }
                    
                    .projects-container div:hover {
                        box-shadow: #a9eeea 0px 0px 10px 5px;
                        width: 350px;
                        height: 350px;
                    }
                    
                    .projects-container div:hover i {
                        font-size: 40px;
                        color: #ff0f0f;
                    }
                    
                    .projects-container div:hover p {
                        font-size: 18px;
                    }
                    
                    .langs {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-top: 15px;
                        font-size: 25px;
                        width: 100%;
                    }
                    
                    .langs h4 {
                        background-color: #d9eef2;
                        margin-right: 10px;
                    }
                    
                    .about {
                        display: flex;
                        flex-direction: column;
                        background-color: #117ac5;
                    }
                    
                    .about div {
                        margin-bottom: 20px;
                    }
                    
                    .about-container {
                        background-color: rgb(107, 230, 255);
                        padding: 20px;
                        margin: 25px;
                    }
                    
                    .about-container h2 {
                        color: rgb(8, 134, 197);
                        font-size: 40px;
                        font-weight: 700;
                    }
                    
                    .about-container p {
                        color: white;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    
                    .skills {
                        background-color: #117ac5;
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    
                    .skills h2 {
                        color: white;
                        font-size: 40px;
                        font-weight: 700;
                    }
                    
                    .skills-container {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        margin-top: 15px;
                        font-size: 25px;
                        width: 100%;
                    }
                    
                    .skills-container div {
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 10%;
                        margin-right: 20px;
                        width: 300px;
                        height: 300px;
                        background-color: white;
                        transition: 0.4s ease;
                    }
                    
                    .skills-container div h4 {
                        font-size: 25px;
                        font-weight: 700;
                        margin-top: 10px;
                    }
                    
                    .skills-container div p {
                        color: #ff0000;
                        font-size: 20px;
                        font-weight: 500;
                        margin-top: 20px;
                        transition: 0.4s ease;
                        -webkit-transition: 0.4s ease;
                        -moz-transition: 0.4s ease;
                        -ms-transition: 0.4s ease;
                        -o-transition: 0.4s ease;
                    }
                    
                    .skills-container div:hover p {
                        color: #117ac5;
                    }
                    
                    .skills-container div:hover {
                        box-shadow: #a9eeea 0px 0px 10px 5px;
                    }
                    
                    .skills-container div i {
                        font-size: 35px;
                        color: #117ac5;
                        transition: 0.4s ease;
                    }
                    
                    .skills-container div:hover i {
                        color: #ff0f0f;
                        font-size: 39px;
                    }
                    
                    footer {
                        background-color: #1a2024;
                        padding: 20px;
                        color: white;
                        font-size: 20px;
                        font-weight: 500;
                        width: 100%;
                        height: 300px;
                        padding: 25px;
                        display: flex;
                        justify-items: center;
                        flex-wrap: wrap;
                    }
                    
                    .left-hand {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 30%;
                        height: 90%;
                    }
                    
                    .imgFooter {
                        margin-bottom: 10px;
                        height: 150px;
                        width: 150px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        border: #000000 solid 2px;
                        background-color: white;
                    }
                    
                    .imgFooter img {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                    
                    .right-hand {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        width: 70%;
                        height: 90%;
                    }
                    
                    .SocialMeadiaIcons1 i {
                        cursor: pointer;
                        margin-right: 40px;
                        font-size: 50px;
                        color: rgb(255, 255, 255);
                        transition: 0.4s ease;
                    }
                    
                    .SocialMeadiaIcons1 i:hover {
                        color: #117ac5;
                    }
                    
                    .footerbarShow ul {
                        list-style: none;
                    }
                    
                    .footerbarShow ul li {
                        margin-top: 10px;
                    }
                    
                    .footerbarShow ul li a {
                        text-decoration: none;
                        color: white;
                        font-size: 30px;
                        font-weight: 500;
                        transition: 0.4s ease;
                        -webkit-transition: 0.4s ease;
                        -moz-transition: 0.4s ease;
                        -ms-transition: 0.4s ease;
                        -o-transition: 0.4s ease;
                    }
                    
                    .footerbarShow ul li a:hover {
                        color: #117ac5;
                    }
                    
                    .CopyRight {
                        display: flex;
                        justify-content: center;
                        color: white;
                        font-size: 20px;
                        font-weight: 200;
                        width: 100%;
                    }